@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.container1 {
    background: #171717;
    color: #fff;
    padding: 2rem;
    width: 50%;
    margin: 4rem auto;
    border-radius: 10px;
	padding:40px;
    box-shadow: 0px 0px 10px grey;
}

.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.weather__body {
    text-align: center;
    margin-top: 3rem;
}

.weather__datetime {
    margin-bottom: 2rem;
    font-size: 14px;
}

.weather__forecast {
    background: #1e1e1e;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}
.weather__icon{
	background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
        border-radius:50px
    }

.weather__icon img {
    width: 100px;
}

.weather__temperature {
    font-size: 1.75rem;
}

.weather__minmax {
    display: flex;
    justify-content: center;
}

.weather__minmax p {
    font-size: 14px;
    margin: 0.5rem;
}

.weather__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

.weather__card {
    display: flex;
    align-items: center;
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;
}

.weather__card i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.weather__card p {
    font-size: 14px;
}




